<div class =" max-w-xl m-auto px-4">
  <h1 class='text-3xl mt-10'>Edit your session timings</h1>
  <p class='text-lg text-gray-700 mb-6'> Make changes to your session times</p>
  <%= render 'form', meeting: @meeting %>
</div>