<div class =" max-w-xl m-auto px-4">
  <h1 class='text-3xl mt-10'>Schedule a new session</h1>
  <p class='text-lg text-gray-700 mb-6'> Schedule a new consulting session at a time that is right for you</p>
  <%= render 'form', meeting: @meeting %>
</div>