<p class = 'text-sm text-gray-600 my-2'> Comment as <%=  current_user.username %> </p>

<%= form_with(model:[@meeting, Comment.new]) do |form| %>
  <div class = 'relative'>
    <%= form.hidden_field :reply, class: "input h-32 border border-gray-400 resize-none", placeholder: "Add any notes or replies here" %>

    <trix-editor input = 'comment_reply' id = 'comment_reply_trix' class = 'h-32 p-4'></trix-editor>

    <%= form.submit class: 'btn btn-small btn-secondary block w-full text-center mt-2 lg: mt-0 lg:text-left lg:absolute lg:pin-b lg:pin-r
    lg:mb-2 lg:mr-2 lg:w-auto lg:inline-flex',  value:'Add Meeting Notes'  %>
  </div>
  <% end %>